footer{
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a{
    color: var(--color-bg);
}

.footer_logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}
.permalinks{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 2rem;
    margin: 0 auto 2rem;
}

.footer_social{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.footer_social a{
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.9rem;
    border-radius: 0.7rem;
    font-size: 1.2rem;
    display: flex;
    border: 1px solid transparent;
}

@media screen and (max-width:600px) {
    .permalinks{
        flex-direction: column;
        gap: 2rem;
    }
   
    
}